/.DS_Stire/
/Cafe.Data/obj/
/Cafe.Data/bin/
/Cafe.Data.Interface/bin/
/Cafe.Data.Interface/obj/
/Cafe-App/Cafe.Data/bin/
/Cafe-App/Cafe.Data/obj/
/Cafe-App/Cafe.Data.Interface/bin/
/Cafe-App/Cafe.Data.Interface/obj/
/ChatMinimalApi/bin/
/ChatMinimalApi/obj/
/Cafe_App/bin/
/Cafe_App/obj/
/Enums/bin/
/Enums/obj/
/obj/
/Cafe.Test/bin/
/Cafe.Test/obj/
